/* ==========================================================================
   Site styles
   ========================================================================== */
body {
   background: $yellow-light;
}

.content {
   height: 100%;
   width: 100%;
   display: table;
   text-align: center;
   table-layout: fixed;
}

.intro {
   display: table-cell;
   vertical-align: middle;
   height: 100%;
   width: 100%;
   color: $yellow-dark;
}

.intro__title {
   margin: 0;
}

.menu {
   list-style: none;
}

.menu__item {
   display: inline-block;

   a {
      text-decoration: none;
      color: inherit;
   }
}

/* ==========================================================================
   Media Queries

   - Medium and large
   - Medium
   - Large
   ========================================================================== */


/* Medium and Up - Targets everything larger than mobile
   ========================================================================== */

@include break(medium-and-large) {

}

/* Medium - only targets 1st breakpoint. Styles
   ========================================================================== */

@include break(medium) {

}

/* Large - only targets 2nd breakpoint.
   ========================================================================== */

@include break(large) {

}
