@charset 'UTF-8';

@function em($values, $base-font: 16) {
  $em: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $em: append($em, $value);
    } @else {
      $unit: unit($value);
      $val: $value;

      @if not unitless($value) {
        $val: strip-units($value);
      }

      $em: append($em, (#{$val / strip-units($base-font)}em));
    }
  }
  @return $em;
}
